google-generativeai
python-dotenv
moviepy
pydub
streamlit
streamlit-option-menu
tenacity
pydantic
pydantic-settings
rich
groq
opencv-python-headless
langchain
langchain-community
langchain-core
langchain-google-genai
chromadb
unstructured
pypdf
langsmith