google-generativeai
typing-extensions
python-dotenv
moviepy==1.0.3
pydub==0.25.1
streamlit
streamlit-option-menu
tenacity
pydantic
groq
opencv-python-headless==4.10.0.84
langchain
langchain-community
langchain-core
langchain-google-genai
google-generativeai
faiss-cpu
unstructured
pypdf
pydantic-settings
pdfminer

